*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family:Sans-Serif;
    background: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
main{
    text-align: center;
    background: #fff;
    max-width: 20rem;
    display: grid;
    justify-items: center;
    padding: 1rem 1rem;
    border-radius: 1.5rem;
}
main img{
    width: 100%;
    border-radius: 1.5rem;
}
main h1{
    color: hsl(218, 44%, 22%);
}
main p{
    font-size: 1.5rem;
    color:hsl(220, 15%, 55%);
    font-weight: 400;
}

.attribution{
    text-align: center;
    position: absolute;
    bottom:0;
    width: 100%;
}

@media(min-width:481px) and (max-width:768px){
    main{
        width: 50%;
        height: 60%;
    }
}
@media(min-width:769px) and (max-width:1024px){
    main{
        width: 40%;
        height: 45%;
    }
}
@media(min-width:1025px) and (max-width:1200px){
    main{
        width: 30%;
        height: 35%;
    }
}
@media(min-width: 1201px){
    main{
        width: 20%;
        height: 50%;
    }
}